header nav {
  background: #fa4a70; }
  header nav ul li a.nav-link {
    font-size: 20px;
    color: #fff; }
header .right-nav #search-input input {
  border-radius: 5px;
  border: 1px solid #fff;
  outline: 0 !important; }
header .right-nav a {
  color: #fa4a70;
  font-size: 18px;
  margin-left: 26px;
  border: 1px solid #fff;
  padding: 0px 5px;
  border-radius: 5px;
  background: #fff; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif; }

@media (min-width: 992px) {
  .main-slider .slider, .main-slider .slide {
    height: 80vh; } }
.main-slider .slide {
  position: relative;
  transition: 1s; }
  .main-slider .slide .slide__img {
    width: 100%;
    height: auto;
    overflow: hidden; }
    @media (min-width: 992px) {
      .main-slider .slide .slide__img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); } }
    .main-slider .slide .slide__img img {
      max-width: 100%;
      height: auto;
      opacity: 1 !important;
      animation-duration: 3s;
      transition: all 1s ease; }
  .main-slider .slide .slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .main-slider .slide .slide__content.slide__content__left {
      left: 15%;
      transform: translate(-15%, -50%); }
    .main-slider .slide .slide__content.slide__content__right {
      right: 15%;
      left: auto;
      transform: translate(5%, -50%); }
    .main-slider .slide .slide__content--headings {
      color: #FFF; }
      .main-slider .slide .slide__content--headings h2 {
        font-size: 4.5rem;
        margin: 10px 0; }
      .main-slider .slide .slide__content--headings .animated {
        transition: all .5s ease; }
      .main-slider .slide .slide__content--headings .top-title {
        font-family: "Playball", cursive;
        font-size: 2.5rem; }
      .main-slider .slide .slide__content--headings .title {
        font-size: 3.5rem; }
      .main-slider .slide .slide__content--headings .button-custom {
        text-decoration: none;
        color: #333;
        padding: 1.2rem 2.5rem;
        font-size: 1.5rem; }
.main-slider .slider [data-animation-in] {
  opacity: 0;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
  transition: 1s; }
.main-slider .slick-dotted .slick-slider {
  margin-bottom: 30px; }
.main-slider .slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .main-slider .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .main-slider .slick-dots li button {
      border: 0;
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      transition: all .3s ease; }
      .main-slider .slick-dots li button:hover, .main-slider .slick-dots li button:focus {
        outline: none; }
.main-slider .simple-dots .slick-dots li {
  width: 20px;
  height: 20px; }
  .main-slider .simple-dots .slick-dots li button {
    border-radius: 50%;
    background-color: white;
    opacity: 0.25;
    width: 20px;
    height: 20px; }
    .main-slider .simple-dots .slick-dots li button:hover, .main-slider .simple-dots .slick-dots li button:focus {
      opacity: 1; }
  .main-slider .simple-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75; }
.main-slider .stick-dots .slick-dots li {
  height: 3px;
  width: 50px; }
  .main-slider .stick-dots .slick-dots li button {
    position: relative;
    background-color: white;
    opacity: 0.25;
    width: 50px;
    height: 3px;
    padding: 0; }
    .main-slider .stick-dots .slick-dots li button:hover, .main-slider .stick-dots .slick-dots li button:focus {
      opacity: 1; }
  .main-slider .stick-dots .slick-dots li.slick-active button {
    color: white;
    opacity: 0.75; }
    .main-slider .stick-dots .slick-dots li.slick-active button:hover, .main-slider .stick-dots .slick-dots li.slick-active button:focus {
      opacity: 1; }

/* /////////// IMAGE ZOOM /////////// */
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
    transition: 1s; }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s; } }
.zoomInImage {
  animation-name: zoomInImage; }

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 1s; }
  to {
    transform: scale3d(1, 1, 1);
    transition: 1s; } }
.zoomOutImage {
  animation-name: zoomOutImage;
  transition: 1s; }

.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px); }
  .slick-nav.prev-arrow {
    left: 3%;
    transform: scaleX(-1);
    z-index: 999; }
  .slick-nav.next-arrow {
    left: auto;
    right: 3%; }
  .slick-nav i {
    display: block;
    position: absolute;
    margin: -10px 0 0 -10px;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%; }
    .slick-nav i:before, .slick-nav i:after {
      content: '';
      width: 10px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
      left: 50%;
      top: 50%;
      background: var(--active);
      margin: -1px 0 0 -5px;
      display: block;
      transform-origin: 9px 50%; }
    .slick-nav i:before {
      transform: rotate(-40deg); }
    .slick-nav i:after {
      transform: rotate(40deg); }
  .slick-nav:before, .slick-nav:after {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 50%;
    border: 2px solid var(--border); }
  .slick-nav svg {
    width: 44px;
    height: 44px;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--active);
    stroke-width: 2px;
    stroke-dashoffset: 126;
    stroke-dasharray: 126 126 0;
    transform: rotate(0deg); }
  .slick-nav.animate svg {
    animation: stroke 1s ease forwards .3s; }
  .slick-nav.animate i {
    animation: arrow 1.6s ease forwards; }
    .slick-nav.animate i:before {
      animation: arrowUp 1.6s ease forwards; }
    .slick-nav.animate i:after {
      animation: arrowDown 1.6s ease forwards; }

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0; }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0; }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126; } }
@keyframes arrow {
  0%,
    100% {
    transform: translateX(0);
    opacity: 1; }
  23% {
    transform: translateX(17px);
    opacity: 1; }
  24%,
    80% {
    transform: translateX(-22px);
    opacity: 0; }
  81% {
    opacity: 1;
    transform: translateX(-22px); } }
@keyframes arrowUp {
  0%,
    100% {
    transform: rotate(-40deg) scaleX(1); }
  20%,
    80% {
    transform: rotate(0deg) scaleX(0.1); } }
@keyframes arrowDown {
  0%,
    100% {
    transform: rotate(40deg) scaleX(1); }
  20%,
    80% {
    transform: rotate(0deg) scaleX(0.1); } }
.testimonial-reel {
  padding: 100px 0 50px;
  margin-bottom: 4rem !important;
  margin-top: 4rem; }
  .testimonial-reel .box {
    position: relative;
    margin-bottom: 30px; }
    .testimonial-reel .box .image {
      margin: 0 auto -45px;
      text-align: center; }
      .testimonial-reel .box .image img {
        height: 130px;
        margin: 0 auto; }
    .testimonial-reel .box .test-component {
      background-color: #fff;
      padding: 1rem 2.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      min-height: 200px; }
    .testimonial-reel .box .test-title {
      font-family: "Open Sans", sans-serif;
      color: #fa4a70;
      text-align: center;
      margin-top: 3.3rem;
      margin-bottom: 15px;
      margin-top: 45px; }
      .testimonial-reel .box .test-title h4 {
        font-weight: bold; }
    .testimonial-reel .box .test-content {
      text-align: center; }
  .testimonial-reel .slick-slide {
    opacity: 0.3;
    transition: opacity 0.3s;
    padding-left: 1rem;
    padding-right: 1rem; }
    .testimonial-reel .slick-slide.slick-cloned {
      opacity: 0.3;
      transition: opacity 0.3s; }
    .testimonial-reel .slick-slide.slick-current.slick-active {
      opacity: 1;
      transition: opacity 0.3s; }

.parent-according {
  padding: 50px 50px 0 50px; }
  .parent-according .according-inner .according-title {
    position: relative;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fa4a70;
    cursor: pointer; }
    .parent-according .according-inner .according-title::before {
      content: '\f054';
      font-family: "Font Awesome 5 Free";
      color: #fa4a70;
      position: absolute;
      left: 0;
      top: 0;
      transition: 0.2s ease-in-out; }
  .parent-according .according-inner .according-content {
    margin-bottom: 1rem;
    display: none;
    padding-left: 30px; }
    .parent-according .according-inner .according-content a {
      color: #fa4a70; }
  .parent-according .according-inner.open .according-title::before {
    transform: rotate(90deg); }

.breadcrumb_sec {
  position: relative; }
  .breadcrumb_sec img {
    min-height: 150px;
    -o-object-position: right;
    object-position: right;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    margin: 0 auto; }
  .breadcrumb_sec .inner_breadcrumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1320px;
    width: 100%;
    padding: 0 15px; }
    .breadcrumb_sec .inner_breadcrumb h1 {
      color: #fa4a70;
      margin: 0; }
    .breadcrumb_sec .inner_breadcrumb #breadcrumbs {
      margin-top: 27px; }
      .breadcrumb_sec .inner_breadcrumb #breadcrumbs strong {
        font-weight: inherit; }
      .breadcrumb_sec .inner_breadcrumb #breadcrumbs span, .breadcrumb_sec .inner_breadcrumb #breadcrumbs a {
        color: #fa4a70;
        font-size: 20px;
        font-weight: normal;
        text-decoration: none; }
    @media (min-width: 1200px) {
      .breadcrumb_sec .inner_breadcrumb h1 {
        font-size: 80px;
        line-height: 60px; } }
    @media (max-width: 1199px) {
      .breadcrumb_sec .inner_breadcrumb h1 {
        font-size: 60px;
        line-height: 50px; }
      .breadcrumb_sec .inner_breadcrumb #breadcrumbs {
        margin-top: 15px; }
        .breadcrumb_sec .inner_breadcrumb #breadcrumbs strong {
          font-weight: inherit; }
        .breadcrumb_sec .inner_breadcrumb #breadcrumbs span, .breadcrumb_sec .inner_breadcrumb #breadcrumbs a {
          font-size: 18px; } }
    @media (max-width: 767px) {
      .breadcrumb_sec .inner_breadcrumb h1 {
        font-size: 35px;
        line-height: 45px; } }

/*# sourceMappingURL=style.css.map */
